<!DOCTYPE html>
<html>
<head>
    <title>Flask with Neo4j</title>
</head>
<body>
    <h1>Выберите симптомы:</h1>
    <form method="POST" action="/">
        
            {% for symptom in symptoms %}
            
                <input type="checkbox" name="symptoms" id="checkbox1" value="{{ symptom }}">
                <label>{{ symptom }}</label><br>
            
            {% endfor %}
        
        <button type="submit">Поиск</button>
    </form>
    {% if selected_symptoms%}
    <h2>Выбранные симптомы:</h2>
        <ul>
            {% for symptom in selected_symptoms %}
            <li>{{ symptom }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if diseases %}
    <h2>Возможные заболевания:</h2>
    <ul>
        {% for disease in diseases %}
        <li>
            <strong>Заболевание:</strong> {{ disease["disease"] }}<br>
            <strong>Симптомы:</strong> {{ disease["symptoms"]|join(", ") }}<br><br>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>